@import "tailwindcss";

body {
  background: #1a1a1a;
  color: #ddd;
  margin: 0;
  font-family: monospace;
}

* {
  box-sizing: border-box;
}

button {
  transition: 0.2s;
  cursor: pointer;
  margin-right: 10px;
}

input,
textarea {
  color: white;
}

::selection {
  background: orange;
  color: black;
}

label{
  margin-right: 10px;
}